@{
    ViewBag.Title = "Home";
}

<h2>Welcome to the To-Do List Application</h2>

<p>
    <a href="@Url.Action("Index", "ToDo")" class="btn btn-primary">Go to To-Do List</a>
</p>

<p>
    This is the main page where you can manage your tasks.
</p>
